<!-- Date Drop down template
			================================================== -->
			<script type="text/x-handlebars-template" id="date-dropdown-template">
			<form class="form-inline" onsubmit="return false;">
				<div class="btn-toolbar" style="">
					<div class="btn-group">
						<button class="btn btn-small">realtime</button>
						<button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
						<li><a href="#" class="time-period" data-type="realtime" data-time="0">realtime</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="minute" data-time="15">last 15 min</a></li>
						<li><a href="#" class="time-period" data-type="minute" data-time="30">last 30 min</a></li>
						<li><a href="#" class="time-period" data-type="minute" data-time="45">last 45 min</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="hour" data-time="1">last 1 hour</a></li>
						<li><a href="#" class="time-period" data-type="hour" data-time="3">last 3 hours</a></li>
						<li><a href="#" class="time-period" data-type="hour" data-time="12">last 12 hours</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="day" data-time="1">last 1 day</a></li>
						<li><a href="#" class="time-period" data-type="day" data-time="2">last 2 days</a></li>
						<li><a href="#" class="time-period" data-type="day" data-time="3">last 3 days</a></li>
						<li><a href="#" class="time-period" data-type="day" data-time="4">last 4 days</a></li>
						<li><a href="#" class="time-period" data-type="day" data-time="5">last 5 days</a></li>
						<li><a href="#" class="time-period" data-type="day" data-time="6">last 6 days</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="week" data-time="1">last 1 week</a></li>
						<li><a href="#" class="time-period" data-type="week" data-time="2">last 2 weeks</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="month" data-time="1">last 1 month</a></li>
						<li class="divider"></li>
						<li><a href="#" class="time-period" data-type="custom" data-time="0">custom</a></li>
						</ul>
					</div>
					<div class="date-control" style="display:none">
						<input type="text" class="input-small" placeholder="from" name="from">
						<input type="text" class="input-small" placeholder="to" name="to">
						<button type="button" class="btn go" >go</button>
					</div>
				</div>
			</form>
			</script>