<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JMX监控</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.5">
<!-- 国产双核浏览器用 start -->
<meta name="renderer" content="webkit">
<!-- 国产双核浏览器用 end -->
<link rel="stylesheet" type="text/css" href="resources/css/new/style-c28ecc68.css">
</head>
<body>
	<div id="layout">
		<div class="header">
			<div class="logo">
				<a href="#" title="JMX监控">
					<img src="resources/image/logo.png"/>
					<span>JMX监控</span>
				</a>
			</div>
			#parse("new/common/account.vm")
			<div class="btn-sidebar">
				<a class="iconfont" href="javascript:;"></a>
			</div>
			#parse("new/common/top/appselect.vm")
		</div>
		<div class="wrap clearfix">

			#parse("new/common/sider.vm")

			<div class="content" id="root">
				<div data-reactid=".0">
					<div class="page-title">
						<div class="navbar">
							<ul>
								<li><div class="dropdown">
										<strong><span>全部实例</span><i
											class="iconfont icon-btn-arrow"></i></strong>
										<div class="dropdown-main" style="display: none;">
											<div class="default-loader"
												style="height: 200px; line-height: 200px;">
												<div class="loader" >
													<i class="iconfont"></i>
												</div>
												<span></span>
											</div>
										</div>
									</div></li>
								<li>
									<div class="dropdown time-slider">
										<strong><i class="iconfont icon-clock"></i>
												   <span> 最新30分钟</span>
											    <i class="iconfont icon-btn-arrow"></i>
										</strong>
									</div></li>
							</ul>
						</div>
						<h2 >
							<span >JVM</span><sub>展现 JVM 性能</sub>
						</h2>
					</div>
					<div class="pure-g">
						<div class="pure-u-1">
							<div class="box comp-box" >
								<div class="widget-tab">
									<div class="widget-title-tab">
										<ul >
											<li class="active"><a href="javascript:;">内存</a></li>
											<li class=""><a href="javascript:;">线程</a></li>
											<li class=""><a href="javascript:;">会话</a></li>
										</ul>
									</div>
									<div class="widget-content">
										#parse("new/memory.vm")
									</div>
								</div>
							</div>
						</div>
						#parse("new/common/real-foot.vm")
					</div>
				</div>
			</div>
		</div>
		#parse("new/common/foot.vm")
	</div>



	
</body>
</html>